// Import fonts
@font-face {
  font-family: 'Rockwell';
  src: url('../../fonts/rockwell.eot'); /* IE9 Compatible */
  src: url('../../fonts/rockwell.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/rockwell.woff') format('woff'), 
       url('../../fonts/rockwell.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/rockwell.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'futurabc';
  src: url('../../fonts/futurabc-webfont.eot'); /* IE9 Compatible */
  src: url('../../fonts/futurabc-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/futurabc-webfont.woff') format('woff'), 
       url('../../fonts/futurabc-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../fonts/avenir-next/bold.eot');
  src: url('../../fonts/avenir-next/bold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/avenir-next/bold.woff2') format('woff2'),
       url('../../fonts/avenir-next/bold.woff') format('woff'),
       url('../../fonts/avenir-next/bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../fonts/avenir-next/demi.eot');
  src: url('../../fonts/avenir-next/demi.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/avenir-next/demi.woff2') format('woff2'),
       url('../../fonts/avenir-next/demi.woff') format('woff'),
       url('../../fonts/avenir-next/demi.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../fonts/avenir-next/medium.eot');
  src: url('../../fonts/avenir-next/medium.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/avenir-next/medium.woff') format('woff'),
       url('../../fonts/avenir-next/medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../fonts/avenir-next/regular.eot');
  src: url('../../fonts/avenir-next/regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/avenir-next/regular.woff') format('woff'),
       url('../../fonts/avenir-next/regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../fonts/avenir-next/thin.eot');
  src: url('../../fonts/avenir-next/thin.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/avenir-next/thin.woff2') format('woff2'),
       url('../../fonts/avenir-next/thin.woff') format('woff'),
       url('../../fonts/avenir-next/thin.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../../fonts/avenir-next/ultralight.eot');
  src: url('../../fonts/avenir-next/ultralight.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/avenir-next/ultralight.woff') format('woff'),
       url('../../fonts/avenir-next/ultralight.ttf') format('truetype');
  font-weight: 200;
}

h1,h2,h3,h4 {
	font-family: "Avenir Next", Helvetica, Arial, sans;
	color: #333;
}

h1 {
	font-weight: 600;
}

h2,h3,h4 {
	font-weight: 400;
}

body {
	font-family: Rockwell;
	color: #999;
}

.navbar-brand {
	font-family: "Avenir Next", Helvetica, Arial, sans;
	font-weight: 700;
}

/*.navbar-brand::before {
	content: url("http://www.chicagocsc.com/Home_files/Chicago_city_seal_1.png");
}*/

.navbar-default, .navbar-collapse, .navbar-default, .navbar-form {
	border-color: #F1F1F1;
	background-color: #F1F1F1;
}

.navbar-default .navbar-brand {
	color: #333;
}

.navbar-default .navbar-nav>li>a {
	color: #888;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default navbar-nav>.active>a:focus {
	border-bottom: #69c4e6;
	border-bottom-style: solid;
	background-color: #F1F1F1;
	color: #888;
}

.bs-slider .nav li a:hover, .bs-sidebar .nav li a:focus {
	border-right: none;
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
	font-weight: normal;
	border-right: none;
}

.bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus {
	font-weight: bold;
	border-right: none;
	background-color: #91CFEB;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #91CFEB;
	border-right: none;
}



.bs-sidebar { /* Sidebar */
	background-color: #C0E6F5
}

a:hover, a:focus {
	color: #333;
}

a {
	color: #333;
}